body {
    padding :0;
    margin: 0;
    font-family: 'Roboto' , cursive;
}

.font_right{
    font-family: 'Righteous'  cursive;
}






/* ==============
    HEADER
============== */
header {
    padding: 900px;
    margin: 0 auto;
}

header .header_logo{
    flex-grow: 1;
}
header .header_logo_font{
    font-size: 40px;
}
header .header_logo_title{
    text-transform: uppercase;
}



